h1, p, .wrapper { 
    font-family: Verdana;
    text-align: center;
}
.button {
    background-color: #3498db; /* Dodger Blue */
    border: none;
    color: white;
    padding: 1.25vw 1.75vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    margin: .5em;
    cursor: pointer;
    
}
button:focus {
    outline: none;
}

.button.about {
    display: flex;
    margin-left: auto; /* Puts the button to the right of the screen */
    padding: .75vh .75vw;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.button:active { /* how to know a button has been selected */
    top: 1vw;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Centers the boxes */
.boxes { 
    display: flex;
    justify-content: center;
    margin-top: .5em;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

label {
    display: flex;
    font-family: Verdana;
    
}

textarea.textBox {
    /* Can't manually resize the boxes */
    resize: none;

    /* The size of the boxes */
    height: 250px;
    width: 30vw;

    /* Separates the boxes from each other */
    margin-left: 0.5em;
    margin-right: 0.5em;
    /* padding: 10vw; */

    /* Determins where against the alignment of the text area the characters start */
    padding-left: 0.2em; 
    padding-right: 0.2em;
    padding-top:0;
    padding-bottom:0.4em;

    /* Font options */
    font-size: 1em;
    font-family: "Open Sans", "Gotham SSm A", "Gotham SSm B", "Gotham Bold", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;


}

textarea.resultbox {
    margin-top: 1em;
    resize: none;
    font-size: 1em;
    font-family: "Open Sans", "Gotham SSm A", "Gotham SSm B", "Gotham Bold", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;

    width: 30vw;
    height: 10vh;
}

/* #top { background-color: orange } */ /* How to specifically edit specific text */